<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let product of products">
                <div class="thumbnail">
                    <img src="http://local.dev/uploads/products/{{product.image_path}}" height=150 width=320 alt="">
                    <div class="caption">
                        <h4 class="pull-right">${{product.price}}</h4>
                        <h4><a href="#">{{product.name}}</a>
                        </h4>
                        <a target="_blank" href="http://www.bootsnipp.com">View Product</a>.
                        <div *ngIf="checkLogin()">
                            <a  class="pull-right" routerLink="/order/{{product.id}}">Add to cart</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Filters</div>
                <div class="panel-body">
                    <form [formGroup]="searchGroup">
                        <input type="text" class="form-control" formControlName="term" placeholder="Search">
                        <input type="date" class="form-control" formControlName="fromDate">
                        <input type="date" class="form-control" formControlName="toDate">
                        <input type="text" class="form-control" formControlName="fromPrice" placeholder="From Price">
                        <input type="text" class="form-control" formControlName="toPrice" placeholder="To Price">
                        <input type="submit" class="form-control" on-click="searchProduct()" class="btn btn-primary" name="submit" value="Filter Product">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>