<div class="container">
    <div class="row">
        <div class="col-md-9">
          
            <div class="row">
            <h1> Latest Products </h1>

                <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let product of products">
                    <div class="thumbnail materialBox">
                        <a routerLink="/product/{{product.id}}"><img src="http://local.dev/uploads/products/{{product.medias[0].path}}" height=150 width=320 alt=""></a>
                        <div class="caption">
                            <h4 class="pull-right">${{product.price}}</h4>
                            <h4><a routerLink="/product/{{product.id}}" >{{product.name}}</a>
                            </h4>
                            <a routerLink="/product/{{product.id}}">View Product</a>.
                            <div *ngIf="checkLogin()">
                                <a  class="pull-right" routerLink="/order/{{product.id}}">Add to cart</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Filters</div>
                <div class="panel-body">
                    <form [formGroup]="searchGroup">
                        <input type="text" class="form-control mt8" formControlName="term" placeholder="Search">
                        <input type="date" class="form-control mt8" formControlName="fromDate" placeholder="From Date">
                        <input type="date" class="form-control mt8" formControlName="toDate" placeholder="To Date">
                        <input type="text" class="form-control mt8" formControlName="fromPrice" placeholder="From Price">
                        <input type="text" class="form-control mt8" formControlName="toPrice" placeholder="To Price">
                        <input type="submit" on-click="searchProduct()" class="btn btn-primary mt8" name="submit" value="Filter Product">
                    </form>
                </div>
            </div>
            </div>
    </div>
</div>

