<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-login" [formGroup]="loginGroup">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">

                        <div *ngIf="formErrors.email" class="alert alert-danger">
                              {{ formErrors.email }}
                        </div>
                        <input type="email" id="email" formControlName="email" class="form-control input-sm chat-input" placeholder="email" />
                        <br>
                        <input type="password" id="password"l formControlName="password" class="form-control input-sm chat-input" placeholder="password" />
                        <br>
                        <div class="wrapper">
                            <span class="group-btn">     
                                <button href="#" on-click="loginUser()" class="btn btn-primary btn-md">login</button>
                            </span>
                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>